.App {
  text-align: center;
}
* {
  background-color: #282c34;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Component {
  border-style: solid;
  border-color: white;
  margin: 24px 12px;
  padding: 16px;
}



.button {
  color: #282c34;
  background-color: white;
  border-radius: 8px;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: calc(5px + 2vmin); 
  margin: 24px 12px;
  padding: 16px;
};

